
@media (min-width : 576px) {
    .wrapper__title {
        font-size: 5rem;
    }
    .submit {
        width: 15rem;

    }
    .wrapper-top {
        flex-wrap: nowrap;
    }

}
@media (min-width : 768px) {

}
@media (min-width : 992px) {

}
@media (min-width : 1200px) {

}